.Card {
  background: #fafafa;
  display: inline-block;
  cursor: pointer;
  width: 20em;
}

.CardHeader {
  background: var(--background-medium);
  padding: 0.5em;
  position: relative;
  display: flex;
  align-items: center;
}

.CardHeaderCheckbox {
}
.CardHeaderCheckboxEmpty, .CardHeaderCheckboxSelected {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: relative;
}
.CardHeaderCheckboxEmpty {
  background: #ddd;
}
.CardHeaderCheckboxSelected {
  background: var(--secondary-color);
}

.CardHeaderCheckboxEmpty::after, .CardHeaderCheckboxSelected::after {
  content: '√';
  font-size: 1.5em;
  font-weight: 900;
  position: absolute;
  top: -0.2em;
  left: 0.2em;
  color: var(--primary-color);
  transition: transform 0.23s;
  transform: scale(0);
}

.CardHeaderCheckboxSelected::after {
  transform: scale(1);
}

.CardHeaderTitle {
  flex-grow: 1;
  text-align: center;
  margin: auto 2em;
}


.CardBody, .CardLogo {
  position: relative;
  width: 20em;
  height: 20em;
}

.CardLogo__Text {
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  font-size: 2em;
}
