/* colors: http://paletton.com/#uid=22b121k4CnncQli5ykc5eha4Keakn-m0mlrdn5oWoDiTp9fM */
:root {
  --background-color: white;
  --primary-font: #333;
  --primary-color: #992E88;
  --secondary-color: #94A261;
  --background-light: #ADB299;
  --background-medium: #949A7F;
}
